<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
<div th:replace="common/header :: navbar"> </div>

<div class="container my-3 my-sm-5 page-content">
  <div class="row justify-content-center" id="row-login">
    <div class="col-sm-10 col-md-11 col-lg-9 col-xl-8">
      <div class="card card-login">
        <div class="card-body">
          <div class="row">

            <!-- Register Form -->
            <div class=" col-register">
              <form th:action="@{/user/edit}" method="post">
                <div class="form-group text-center">
                  <h2 class="bold">Xem tài khoản </h2>
                </div>
                <input hidden="hidden" name="id" th:value="${user.id}">

                <div class="form-group">
                  <div class="input-icon">
                    <i data-feather="mail"></i>
                    <input th:value="${user.email}" required="required" type="email" class="form-control" th:classappend="${emailExists} ? is-invalid"
                           name="email" placeholder="Email address" >
                    <div class="invalid-feedback">Email is already in use</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-icon">
                    <i data-feather="user"></i>
                    <input th:value="${user.username}" required="required" type="text" class="form-control" th:classappend="${usernameExists} ? is-invalid"
                           placeholder="Username" name="username">
                    <div class="invalid-feedback">Username is already in use</div>

                  </div>
                </div>

                <button type="submit"
                        class="btn btn-outline-primary btn-block">Ok</button>
              </form>
            </div>
            <!-- /Register Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>